.backgroundContainer {
  margin-top: 100px;
  position: relative;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
  padding: 16px;
}

.text {
  font-size: 1.2rem;
}

.textBold {
  font-weight: bold;
  font-size: 1.2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2.5rem;
}

.ctaButton {
  border-radius: 0.5rem;
  background-color: #008743;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
  border: none;
  transition-duration: 100ms;
}

.ctaButton:hover {
  cursor: pointer;
  background-color: #007338;
}

.purpleBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: brightness(0.1);
}

.greenBackground {
  position: absolute;
  top: 0;
  right: 0;
}

.greyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greyContainerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  padding-bottom: 25px;
}

.results {
  font-size: 1.2rem;
  width: 100%;
}

.results p {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #654e6f;
  border-radius: 8px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.results p:hover {
  background-color: #856791;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .greenBackground {
    display: none;
  }
  .purpleBackground {
    display: none;
  }
  .ctaButton {
    width: 100%;
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .text,
  .textBold {
    font-size: 1rem;
  }

  .results {
    font-size: 1rem;
    padding: 1rem;
  }

  .results p {
    margin: 0.75rem 0;
    padding: 0.75rem;
  }

  .greyContainerTitle {
    margin: 40px;
    text-align: center;
    padding-bottom: 65px;
  }
}
