.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px;
}

.hoofdtitel {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  line-height: 1.2;
}

.hoofdsubtext {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  line-height: 1.5;
}

.block {
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.blocktitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.subtext {
  font-size: 0.9rem;
  margin-bottom: 20px;
  max-width: 600px;
}

.keuzemenu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  width: 45%;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  transition: transform 0.2s ease;
  border: 1px solid green;
  cursor: pointer;
}

.item:hover {
  background-color: #e6f7ea;
}

.soortbeperking {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0rem 0;
}

.omschrijving {
  font-size: 0.85rem;
  color: #666;
  margin: 0;
  margin-top: 0.4rem;
}

.tekstblockje {
  padding: 0.5rem;
}

.nextButton {
  display: block;
  font-weight: bold;
  background-color: #008743;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nextButton:hover {
  background-color: #007339;
}

.keuzesgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-top: 1.5rem;
}

.keuzesgrid button {
  background-color: white;
  border: 1px solid #ddd;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.keuzesgrid button:hover {
  background-color: #e6f7ea;
  border: 1px solid green;
}

.headtext {
  font-size: 1.2rem;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* audioplayer */
.audioplayer {
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  background-color: #dceee5;
  padding: 40px 20px;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.progressBar {
  height: 8px;
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #000;
  transition: width 0.3s ease;
  width: 89%;
}

.playButton {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  box-shadow: none;
}

.playButton:hover {
  background-color: #333;
}

.playButton:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.locked {
  font-size: 0.8rem;
}

.selected {
  background-color: #d9ece2;
  border: 2px solid #008743;
}

.buttonsfout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
}
