.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: left;
}

.sliderContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

/* Horizontale rij van alle stations */
.navitems {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  scroll-behavior: smooth;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e7e3e8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  color: #008743;
  transition: all 0.2s ease;
}

.navButton:hover {
  background-color: #e6f7ea;
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #e7e3e8;
  transition: all 0.2s ease;
}

.activeDot {
  background-color: #008743;
}

/* Klikbare link styling */
.stationLink {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/* Individueel station */
.station {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 0.75rem;
  border: 1px solid #00000015;
  border-radius: 0.75rem;
}

.stationActive {
  background-color: #008743;
  color: white;
  border-radius: 0.75rem;
}

.stationActive:hover {
  background-color: #008743!important;
}

.station:hover {
  background-color: #e6f7ea;
  padding: 0.75rem;
  border-radius: 0.75rem;
  transition: 0.2s ease-in-out;
}

.stationTitel {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.3rem;
  max-width: 180px;
}

/* Nummer van het station */
.nummer {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

/* Naam van het station */
.naam {
  font-size: 1rem;
  line-height: 1.2;
  text-align: left;
  margin-left: 0.75rem;
}

@media (max-width: 767px) {
  .navitems {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0.5rem 0;
    width: 100%;
    justify-content: flex-start;
  }

  .navitems::-webkit-scrollbar {
    display: none;
  }

  .stationLink {
    scroll-snap-align: center;
    min-width: 85%;
    display: flex;
    justify-content: center;
  }

  .stationLink:first-child {
    padding-left: calc((100% - 85%) / 2);
  }

  .stationLink:last-child {
    padding-right: calc((100% - 85%) / 2);
  }
}
