.backgroundContainer {
  margin-top: 200px;
  position: relative;
  min-height: 76vh;
  padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subheading {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  max-width: 37rem;
}

.paragraph {
  margin-bottom: 0.5rem;
  max-width: 37rem;
  font-size: 1.2rem;
}

.finalText {
  margin-bottom: 1.5rem;
  max-width: 37rem;
  font-size: 1.2rem;
}

.button {
  border-radius: 0.5rem;
  background-color: #008743;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: white;
  border: none;
  transition-duration: 100ms;
  align-self: flex-start;
  margin-top: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: #007338;
}

.purpleBackground {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  filter: brightness(0.1);
}

.greenBackground {
  position: absolute;
  top: -150px;
  right: 0;
  z-index: 0;
}

@media (max-width: 768px) {
  .greenBackground {
    display: none;
  }
  .purpleBackground {
    display: none;
  }
  .button {
    width: 100%;
    font-size: 1rem;
  }
  .heading {
    font-size: 2rem;
  }
  .subheading,
  .paragraph,
  .finalText {
    font-size: 1rem;
  }
}
